extends ../layout/index

block contenido 
    .py-5
        h1.text-4xl.my-10.font-extrabold.text-center Bienes
            span.font-normal Raíces
        h2.text-center.text-2xl.font-extrabold= pagina

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form.space-y-5
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="email") E-mail
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Tu E-mail" type="text" name="email")
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="password") Password
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Tu Password" type="text" name="password")

                    div(class="flex items-center justify-between")
                        a(class="text-gray-500 hover:text-black text-xs" href="/auth/registro") ¿No tienes cuenta? Crea una
                        a(class="text-gray-500 hover:text-black text-xs" href="/auth/olvide-password") Olvidé mi Password

                    input(class="w-full bg-indigo-600 py-2 px-3 text-white font-bold rounded-md hover:bg-indigo-700 hover:cursor-pointer transition-all" type="submit" value="Iniciar Sesión") 